[user]
	name =iamhero.1210@gmail.com
	email =iamhero.1210@gmail.com
	password =249165eA
[core]
	autocrlf = true
	whitespace = cr-at-eol
[difftool "sourcetree"]
	cmd = '' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = "'' "
	trustExitCode = true

## https://github.com/gitalias/gitalias
[alias] 
 mtv = remote -v
 st = status
 sw = switch
 br = branch
 sh = stach
 ft = fetch
 pom = pull origin master
 ppom = push --set-upstream origin 
 cfg = config --global --edit
 cfl = config --local --edit
 swc = switch -c 
 swmc = "!f(){ b=$1; git pull origin master; git switch -c "$b" master; };f"
 swm = !git switch master && git pull origin master
 swm2 = !git switch main && git pull origin main
 uncommit = reset --soft HEAD~1
 publish = "!git push -u origin $(git branch-name)"
 unpublish = "!git push origin :$(git branch-name)"

[credential "helperselector"]
	selected = manager
[pull]
	rebase = false
[credential]
	helper = manager
